/.DS_Store
/.vscode
/8.jpeg
/9.jpeg
/__pycache__
/best-2.pt
/best-3.pt
/best.pt
/crop_image_module.py
/model_76.pth
/nuclio
/photo.png
/requirements.txt
/run.ipynb
/search_image_module.py
/server.py
/servertest.py
/static
/supa.py
/upload.png